@import "compass/reset";

$baseColor:#06C1AE;
$color:#f00;
html body{width: 100%;height: 100%;}
header{width:100%;height:52px;background: $baseColor;}
.banner{width:100%;height: 50px;background: $color;}

.swiper-container {
        width: 100%;
        height: 164px;
}
.page1 ul{

	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;


}

 .page1 ul>li{width:20%;height: 50%;}   


